<%= content_for :fb_meta do %>
  <meta property="og:site_name" content="투표대잔치" />
  <meta property="og:title" content="<%= @vote.title %>" />
  <meta property="og:description" content="<%= @vote.content %>" />
  <meta property="og:url"   content="<%= vote_url(@vote) %>"/>
  <meta property="og:image" content="<%= (@vote.image.blank?) ? request.protocol + request.host + asset_path('badge3_on.png') : @vote.image_url %>" />
<% end %>
<section id='vote'>
  <div class='container'>
    <div class='row'>
      <div class='span8'>

        <div class='page-header'>
          <h1><i class='icon icon-ok'></i> <%= "#{@vote.title}" %> <small><i class='icon-thumbs-up'></i> <%= number_with_delimiter @vote.likes %>  <i class='icon-comment'></i> <%= number_with_delimiter @vote.comments.count %></small></h1>
        </div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_pinterest_pinit"></a>
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-502c5e680ade902a"></script>
        <!-- AddThis Button END -->

        <% unless @vote.image.blank? %>
        <%= image_tag @vote.image, style: 'width: 100%' %>
        <% end %>
        <h4 style='margin-bottom:3em;line-height:150%;'><%= simple_format @vote.content %></h4>

        <div class='well'>
          <%= render @vote.comments %>
        </div>

      </div><!-- span8 -->
      <div class='span4' style='padding-top:1em;min-height:300px;'>
        <div class='well'>
          <h3><%= number_with_delimiter @vote.seq %>번째 투표 인증</h3>
          <div class='media'>
            <a class='pull-left'>
              <%= image_tag @vote.user.profile_image, class: 'media-object', style: 'width: 50px;' %>
            </a>
            <div class='media-body'>
              <h4 class='media-heading'>
                <i class='icon-<%= @vote.user.omniauth_provider %>'></i> <%= link_to @vote.user.name, @vote.user %>
              </h4>
              <p><%= link_to @vote.user.omniauth_url, @vote.user.omniauth_url %></p>
            </div>

            <h4>좋아요</h4>
            <p><i class='icon-thumbs-up'></i> <%= number_with_delimiter @vote.likes %>개</p>

            <% unless @vote.coordinates.blank? %><p><%= image_tag "http://maps.google.com/maps/api/staticmap?zoom=15&size=248x248&maptype=roadmap
          &markers=color:blue|label:S%7C#{@vote.coordinates['latitude']},#{@vote.coordinates['longitude']}&sensor=false" %></p><% end %>

            <% if @promises.present? %>
              <h4><%= @promises.first.seq %>번째로 투표 약속</h4>
              <p><%= @promises.first.reason %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</section>
