<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :url, label: 'URL', input_html: { class: 'span5' } %>
  <%= f.input :title, label: '제목', input_html: { class: 'span5' } %>
  <%= f.input :description, label: '설명', as: :text, input_html: { class: 'span5', rows: 5 } %>
  <%= f.input :image, label: '이미지' %>
  <%= f.association :candidate, label: '관련 후보', :collection => Candidate.all, :as => :radio_buttons %>
  <div class="form-actions">
    <%= f.button :submit, '등록', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>