<section id='new_award'>
  <style>
    #new_award label.radio.inline { margin-right: 0.5em; }
  </style>
  <div class="container">
    <div class='page-header'>
      <h1>'<%= current_user.name %> 어워드' 만들기</h1>
    </div>
    <%= simple_form_for(@award, :html => {:class => 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :title, placeholder: '5000번째의 약속', label: '어워드 타이틀' %>
        <div class="control-group text required">
          <label class="text required control-label" for="award_content"><abbr title="required">*</abbr> 어워드 내용</label>
          <div class="controls"><%= f.text_area :content, rows: 5, class: 'span4' %></textarea><span class="help-block">수여하고픈 어워드의 내용을 적어주세요.<br>예를 들어 '5000명이 투표 약속을 하면 그 중에서 5명에게 커피를 쏘겠습니다', '1500번째 투료 약속자에게 맛있는 저녁을 사겠습니다' 등등 창의적으로 적으시면 됩니다.</span></div>
        </div>
        <%= f.input :prize, label: '상품' %>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</section>