<style>
  #new_giveup label.radio.inline { margin-right: 0.5em; }
</style>
<%= simple_form_for(@giveup, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :reason, label: '투표하지 않는 이유' %>
    <%= f.input :area, label: '지역' %>
    <%= f.input :sex, label: '성별', as: :radio_buttons, collection: %w[남 여], item_wrapper_class: 'inline' %>
    <%= f.input :age, label: '연령대', as: :radio_buttons, collection: %w[20대 30대 40대 50대 60대 70대 80대 90대], item_wrapper_class: 'inline' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>