<section id='about'>
  <div class="jumbotron masthead top_img" >
    <div class="container" style='position:relative;'>
      <%= image_tag 'y2012_main_img.png', class: 'main_img' %>
      <div class="main_contents">
        <div class="count_bg"><% ('%05i' % @promises_count).each_char do |c| %><span><%= c %></span><% end %></div>
        <label class="count_label">
          명이 투표를 약속했습니다
        </label>
        <div class="graph_bg">
        </div>
        <div class="graph_value" style="width:<%= @promises_count * 0.1 %>%">
        </div>
      </div>
      <div class="intro_box">
        <label class="intro">2012년 투표대잔치</label>
        5년에 한번 뿐인 대통령 선거. <br />
        나라의 운을 결정하는 이벤트인데, 우리가 할 수 있는 거라곤 지켜보다가 투표하는 것 뿐.
        뭔가 아쉽지 않나요? 그래서 준비했습니다!
      </div>
      <div class="cow">
        <%= image_tag 'cow.png', class: 'cow_img' %>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='span4'>
        <div class='well'>
          <h4>투표 약속하고 어워드도 주자!</h4>
          <p>투표 약속을 하고, 약속한 사람들에게 내가 만든 어워드를 부여한다면?</p>
          <p>이렇게 우리가 주고 받는 어워드가 투표율을 수직 상승시킬까요?</p>
          <p>아니면 투표 약속을 빌미로 새로운 인연을 만나게 될까요?</p>
          <p><%= link_to '투표하겠소?', y2012_promises_path, class: 'btn btn-large btn-block btn-danger' %></p>
          <p style='text-align:right;'>현재 : <%= content_tag :b, @promises_count %>명 약속 / <%= content_tag :b, @awards_count %>개의 어워드</p>
        </div>
      </div>
      <div class='span4'>
        <div class='well'>
          <h4>나는 투표했소!</h4>
          <p>2012년 12월 19일</p>
          <p>여러분의 자랑스런 투표 인증을 평생 간직하세요. 이번의 투표 약속, 앞으로의 투표 약속과 인증을 모두 함께 오랫동안 보관해 드리겠습니다.</p>
          <p>곧 공개하겠습니다.</p>
          <p><%= link_to '나는 투표했소!', y2012_votes_path, class: 'btn btn-large btn-block btn-info' %></p>
          <p style='text-align:right;'>현재 : <%= content_tag :b, @votes_count %>명 인증 / <%= content_tag :b, @events_count %>개의 투표소 이벤트</p>
        </div>
      </div>
      <div class='span4'>
        <div class='well'>
          <h4>나는 모르겠소!</h4>
          <p>투표는 당연하다고들 하지만 솔직히 왜 투표하는게 좋은지 확신이 안 드시나요?</p>
          <p>소중한 한표를 행사하고 싶은데 누구를 찍을지 아직 못 정하셨나요?</p>
          <p>도대체 투표는 어떻게 하는지 헷갈리시나요?</p>
          <p>그래서 모아보았습니다</p>
          <p><%= link_to '나는 모르겠소!', y2012_info_path, class: 'btn btn-large btn-block btn-warning' %></p>
        </div>
      </div>
    </div><!-- row -->
    <div class='alert-danger alert'>
      <h3>"투표 대잔치 배너"를 블로그나 사이트에 달아주세요!</h3>
      <p>선거기간 동안은 투표 독려 배너가, 투표일에는 투표 인증을 요청하는 배너가 됩니다.
      <%= link_to '배너 달기', y2012_banner_path, class: 'btn btn-danger' %>
      </p>
    </div>
  <div>
</section>
