<section id='votes'>
  <div class='container'>
    <div class='page-header'>
      <h1>나는 투표했소!</h1>
    </div>

    <%= render 'encourage_box' %>

    <% if user_signed_in? %>
      <% if Vote.where(user: current_user, election: current_election).count < 1 %>
        <div class='well'>
          간단히 투표 인증을 남길 수 있습니다. <%= link_to '투표인증하기', new_vote_path, class: 'btn btn-primary' %>
        </div>
      <% else %>
        <div class='alert alert-success'>
          <%= content_tag :b, Vote.where(user: current_user, election: current_election).first.seq %>번째로 투표 인증을 남겼습니다.
        </div>
      <% end %>
    <% end %>

    <div class='tabbable'>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1"><i class='icon-user'></i> <%= @votes.count %>명의 투표 인증</a>
        </li>
        <li class='disabled'><a href="#tab2"><i class='icon-map-marker'></i>지도로 보기 (작업중)</a></li>
      </ul><!-- nav -->
      <div class='tab-content'>
        <div class='tab-pane active' id='tab1'>
          <ul class="masonry_container thumbnails">
            <%= render @votes %>
          </ul>
        </div>
      </div><!-- tab-content -->
    </div><!-- tabbable -->
  </div>
</section>
