<section id='promises'>
  <div class='container'>
    <div class='page-header'>
      <h1>투표하겠소
        <small>총 <%= Promise.all.count %>개의 약속과 <%= Award.all.count%>개의 어워드</small>
      </h1>
    </div>
    <% if user_signed_in? %>
      <% if current_user.promise.blank? %>
        <div class='well'>
          <p>간단히 투표 약속을 마칠 수 있습니다.</p>
          <%= link_to '투표약속하기', new_promise_path, class: 'btn btn-primary' %>
        </div>
      <% else %>
        <div class='alert alert-success'>
          <%= content_tag :b, current_user.name %>님은
          <%= content_tag :b, current_user.promise.seq %>번째로 투표 약속을 하셨고,
          <%= content_tag :b, current_user.awards.count %>개의 어워드를 만드셨습니다.
        </div>
      <% end %>
      <div class='well'>
        <p>누구든지 투표를 약속한 사람들에게 어워드를 부여할 수 있습니다.
          지금 바로 <%= content_tag :b, current_user.name %>님만의 어워드를 만들어 보세요!</p>
        <%= link_to "2012 투표대잔치 '#{current_user.name} 어워드' 만들기", new_award_path, class: 'btn btn-primary btn-large' %>
      </div>
    <% else %>
      <div class='well'>
        <p>투표 대잔치 <%= Promise.all.count + 1 %>번째의 주인공이 되어 주세요!</p>
        <%= link_to '페이스북으로 시작하기', user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class='row'>
      <div class='span6'>
        <h3>투표 약속</h3>
        <% @promises.each do |promise| %>
          <div style='border: 1px solid #DDDDDD; margin-bottom: 1em; padding: 1em; background: #F5F5F5;'>
            <div class='media'>
              <a class='pull-left'>
                <%= image_tag promise.user.profile_image, class: 'media-object', style: 'width: 80px;' %>
              </a>
              <div class='media-body'>
                <h4 class='media-heading'><%= promise.seq %> / <%= promise.user.name %></h4>
                <p style='color:#888; font-weight: bold;'><%= promise.candidate.name %>을 지지하는 <%= promise.area %>의 <%= promise.age %></p>
                <p><%= promise.reason %> <%= content_tag :span, promise.created_at, style: 'color: #999; font-size: 0.9em;' %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class='span6'>
        <h3>어워드</h3>
        <% @awards.each do |award| %>
          <div style='border: 1px solid #DDDDDD; margin-bottom: 1em; padding: 1em; background: #F5F5F5;'>
            <div class='media'>
              <a class='pull-left'>
                <%= image_tag award.user.profile_image, class: 'media-object', style: 'width: 80px;' %>
              </a>
              <div class='media-body'>
                <h4 class='media-heading'><%= award.title %>
                  <small><%= award.user.name %>님의 어워드</small></h4>
                <p><%= award.content %></p>
                <p>상품 : <%= award.prize %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</section>