<section id='promises'>
  <div class='container'>
    <div class='page-header'>
      <h1>투표하겠소
        <small>총 <%= Promise.all.count %>개의 약속과 <%= Award.all.count%>개의 어워드</small>
      </h1>
    </div>
    <% if user_signed_in? %>
      <% if current_user.promise.blank? %>
        <div class='well'>
          <p>간단히 투표 약속을 마칠 수 있습니다.</p>
          <%= link_to '투표약속하기', new_promise_path, class: 'btn btn-primary' %>
        </div>
      <% else %>
        <div class='well'>
          <%= current_user.promise.seq %>번째로 투표 약속을 하셨습니다.
          <%= current_user.awards.count %>개의 어워드를 만드셨습니다.
        </div>
      <% end %>
      <div class='well'>
        <p>누구든지 투표를 약속한 사람들에게 어워드를 부여할 수 있습니다. 우리가 우리에게 상을 주는 겁니다. 지금 어워드를 만들어 보세요!</p>
        <%= link_to '어워드 만들기', new_award_path, class: 'btn btn-primary' %>
      </div>
    <% else %>
      <div class='well'>
        <p>투표 대잔치 <%= Promise.all.count + 1 %>번째의 주인공이 되어 주세요!</p>
        <%= link_to '페이스북으로 시작하기', user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class='row'>
      <div class='span6'>
        <h2>투표 약속</h2>
        <ul>
          <% @promises.each do |promise| %>
            <li>
              <h4><%= promise.seq %> : <%= promise.user.name %> <small><%= promise.area %>의 <%= promise.age %></small></h4>
              <p><%= promise.reason %> <%= content_tag :span, promise.created_at %></p>
            </li>
          <% end %>
        </ul>
      </div>
      <div class='span6'>
        <h2>어워드</h2>
        <ul>
          <% @awards.each do |award| %>
            <li>
              <h4><%= award.user.name %> 어워드 <small></small></h4>
              <p><%= award.condition %>에게 <%= award.prize %>를 드리겠습니다.</p>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</section>